<div class="page-header">
  <h1>Invitations</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newInvitationsPath() %>" class="btn btn-primary">Create new invitation</a></li>
</ul>

<table class="table table-striped">
  <thead>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (invitation) in invitations { %>
    <tr>
      <td>
        <div>
          Invitation: <%= invitation.CreatedAt %> (<%= len(invitation.Guests) %> guests)
        </div>
      </td>
      <td>
        <div class="pull-right">
          <a href="<%= invitationPath({ invitation_id: invitation.ID }) %>" class="btn btn-info">Show</a>
          <a href="<%= editInvitationPath({ invitation_id: invitation.ID }) %>" class="btn btn-warning">Edit</a>
          <a href="<%= invitationPath({ invitation_id: invitation.ID }) %>" data-method="DELETE" data-confirm="Are you sure?"
            class="btn btn-danger">Delete</a>
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>