<div class="page-header">
  <h1>Invitation</h1>
</div>
<p>
  Created at: <%= invitation.CreatedAt %>
</p>
<div class="form-group">
  <select class="form-control">
    <%= if (invitation.Salutation == 1) { %>
    <option>Liebe/r Max</option>
    <% } else if (invitation.Salutation == 2) { %>
    <option>Sehr geehrte/r Herr Muster</option>
    <% } else if (invitation.Salutation == 3) { %>
    <option>Guten Tag Max Muster</option>
    <% } else if (invitation.Salutation == 4) { %>
    <option>Moin Max</option>
    <% } %>
  </select>
</div>

<div class="form-group">
    <label for="Mailtext">Text Body</label>
    <textarea class="form-control" name="Mailtext" rows="4" maxlength="4000" readonly="readonly"><%= invitation.Mailtext %></textarea>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= invitationsPath() %>" class="btn btn-info">Back to all Invitations</a></li>
  <li class="list-inline-item"><a href="<%= editInvitationPath({ invitation_id: invitation.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= invitationPath({ invitation_id: invitation.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

