<h1>Invitation Response</h1>

<form id="response-form" action="<%= action_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>" />
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input id="status1" type="radio" name="status" value="1" />
            <label for="status1">Accept invitation</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="status2" type="radio" name="status" value="2" />
            <label for="status2">Decline invitation</label>
        </div>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Additional Comment (optional)" />
    </div>
    
</form>