@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

$darkcolor: #212529;

.auth-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
  
.sign-in-btn {
  margin-right: 10px;
}

.auth-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .sign-form {
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }

  h1 {
    margin-bottom: 20px;
  }
}

.navbar-brand, .navbar-brand {
  padding-top: 0px;
}

.navbar-brand, .navbar-brand img {
  width: 36px;
  height: 36px;
}

.btn-login {
  margin-right: 5px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 80vh;
  background: hsla(0,0%,100%,.5);
  transition: all 0.3s;

  @media (max-width: 768px) {
    margin-left: -250px;
  }

  ul.components {
    padding: 20px 0;
  }

  ul li {

    a:not(.btn) {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color: $darkcolor;
    }


    a:not(.btn):hover {
      background: $darkcolor;
      color: hsla(0,0%,100%,.5);
    }
  }
}

#sidebar.active {
  margin-left: -250px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

