@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.auth-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
  
.sign-in-btn {
  margin-right: 10px;
}

.auth-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .sign-form {
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
}

.navbar-brand, .navbar-brand img {
  width: 36px;
  height: 36px;
}

.email {
  color: white;
  margin-right: 10px;
}

.btn-login {
  margin-right: 5px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}
$linkcolor: rgb(31, 26, 26);
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 80vh;
  background: white;
  color: $linkcolor;
  transition: all 0.3s;
  @media (max-width: 768px) {
    margin-left: -250px;
  }
  ul.components {
    padding: 20px 0;
  }
  ul li {
    a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }
    a:hover {
      background: $linkcolor;
      color: white;
    }
  }
}

#sidebar.active {
  margin-left: -250px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

