@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.auth-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
  
.sign-in-btn {
  margin-right: 10px;
}

.auth-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .sign-form {
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
}

.navbar-brand, .navbar-brand img {
  width: 36px;
  height: 36px;
}

.email {
  color: white;
  margin-right: 10px;
}

.btn-login {
  margin-right: 5px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  @media (max-width: 768px) {
    margin-left: -250px;
  }
}

#sidebar.active {
  margin-left: -250px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

